.firstlitter{
float: left;
font-size: 4em;
font-weight: bold;
line-height: 30px;
padding: 6PX;
color: rgb(158, 157, 157);
}

.Intro{
    font-family: "Oswald", sans-serif;
}

.fontt{
    font-family: "Oswald", sans-serif;
}


.opa{
    opacity: 0.5;
}

.fontt{
    font-family: "Oswald", sans-serif;
}

 